/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

*{
    font-family: 'Proxima Nova';
}

body{
    font-size: 16px;
}

h1, h2{
    font-weight: bold !important;
}

.cards{
    padding: 40px 40px !important;
    border: 1px solid #DEE0E3;
    /* Card */
    border: 1px solid #DEE0E3 !important;
    box-shadow: 0px 8px 24px rgba(1, 12, 21, 0.04);
    border-radius: 4px;
    width: 1214.47px;
}

.upload-widget{
    height: 136px;
    background: white;
    border: 1px dashed #717171;
    border-radius: 4px;
    text-align: center;
    // font-size: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-control, .form-select{
    padding: 16px !important;
}

.row{
    margin: 0 !important
}

.form-group{
    width: 882.21px !important;
    max-width: 100%;
}

.form-select{
    width: 538.49px !important;
    max-width: 100%;
}

label{
    margin-bottom: 8px;
}